@model List<CountryWithLanguage>
@{
    ViewData["Title"] = "Home Page";
}

<form class="form-inline" asp-action="Index">
    <div class="form-group mr-2 mb-2">
        <input class="form-control" name="search" placeholder="Ülke Adı" value="@ViewBag.SearchingText">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Ara</button>
</form>
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Bayrak</th>
                    <th>Ülke Adı(En)</th>
                    <th>Ülke Adı(Yerel)</th>
                    <th>Diller</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model?.Count; i++)
                {
                    <tr>
                        <td>@(i + 1 + ((int)ViewBag.CurrentPage * 8))</td>
                        <td><img src="@Model[i].Flag" class="img-flag" /></td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].NativeName</td>
                        <td>
                            @if (Model[i].Languages?.Count > 0)
                            {
                                string strLanguage = "";
                                @foreach (var lang in Model[i].Languages)
                                {
                                    strLanguage += lang.Name + "(" + lang.NativeName + ") - ";
                                }
                                @strLanguage.Trim(new char[] { '-', ' ' });
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <div class="row">
                <ul class="pagination flex-wrap">
                    @for (int i = 0; i < (int)ViewBag.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Countries" asp-route-search="@ViewBag.SearchingText"
                               asp-action="Index" asp-route-curPage="@i">@(i + 1)</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
